body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.contenedor {
  margin-top: 5%;
}

.cabecera {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-top: auto;
  display: block;
}

.logo {
  position: absolute;
  left: 400px;
  width: 380px;
  height: 380px;
  margin-left: 100px;
  display: block;
  background: url(/imagenes/Antojo-Logo.png) no-repeat center;
}

.banner {
  display: block;
  width: 1000px;
  height: 360px;
  background: url(/imagenes/banner.jpg) no-repeat center;
  background-size: cover;
}

h1 {
  font-size: 60px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 110px;
  margin: 10px;
  text-shadow: #181818 2px 0 10px;
  display: block;
}

.parracabecera {
  font-size: 20px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 160px;
  left: 10px;
  text-shadow: #181818 2px 0 10px;
}

.miembros{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.miembro1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.miembro2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.miembro1 .jorge {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 20px;
}

p {
  font-size: 40px;
  text-align: center;
} 

.miembro2 .antonio {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 20px;
}

.pie {
  background-color: rgb(20, 20, 20);
  width: 78%;
}
.pie p{
  font-size: 15px;
  text-align: center;
  padding: 3px;
  color: rgb(240, 240, 240);
}