body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 10px;
  left: 280px;
  margin: 100px;
  text-shadow: #181818 2px 0 10px;
}

.cabecera {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-top: auto;
}

.logo {
  position: absolute;
  left: 360px;
  width: 390px;
  height: 390px;
  /*border-radius: 50%;*/
  margin-left: 65px;
}

.banner {
  display: block;
  width: 1200px;
  height: 400px;
}

.parracabecera {
  font-size: 20px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 150px;
  left: 380px;
  text-shadow: #181818 2px 0 10px;
}

.miembros{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.miembro1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.miembro2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.miembro1 .jorge {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 20px;
}

p {
  font-size: 40px;
  text-align: center;
} 

.miembro2 .antonio {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 20px;
}